html {
	scroll-behavior: smooth;
	cursor: default;
}
.topnav {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 16px;
	color: #ff6101;
}
header {
	display: flex;
	background-color: white;
	position: sticky;
	z-index: 10;
	height: 48px;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: 0px 5px 5px 0 rgba(0,0,0,0.10),
				0px 5px 15px 0 rgba(0,0,0,0.20);
}
.gap {
	height: 48px;
}
img {
	max-height: 100%;
	max-width: 100%;
}
h1,h2,h3,h4,h5,p,a {
	font-family: Segoe UI;
	margin: 0;
}
.nav_logo {
	flex: 1;
	margin: 0px 48px;
	padding: 12px 0px;
}
nav {
	display: flex;
	align-items: center;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	flex: 1;
}
.nav_menu {
	display: flex;
	width: 100%;
	justify-content: space-around;
	font-family: Segoe UI;
}
a.nav_item {
	display: flex;
	text-decoration: none;
	padding: 8px 32px;
	color: #00953b;
	font-size: 16px;
	transition: 0.5s;
}
a.nav_item:hover {
	color: black;
	opacity: 50%;
	transition: 0.25s;
}
/*a.nav_item#active {
	color: #00953b;
	opacity: 100%;
}*/
.hero {
	display: flex;
	align-items: center;
	background-image: url(hero.png);
	height: 648px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.title_container {
	margin: 0px 48px;
}
.home_title {
	margin: 0 auto;
	color: white;
}
.home_title h1{
	font-size: 88px;
	margin-bottom: 8px;
}
.home_title p{
	font-size: 20px;
}
.cta {
	display: flex;
	margin-top: 52px;
}
.cta a{
	display: flex;
	align-items: center;
	text-decoration: none;
	color: white;
	padding: 16px 32px;
	margin-right: 16px;
	border-style: solid;
	transition: 0.25s;
	letter-spacing: 1px;
}
.cta a:hover{
	color: black;
	background-color: white;
	border-style: solid;
	border-color: white;
	transition: 0.25s;
}
.product_title {
	text-align: center;
}
/*.border {
	display: block;
	position: absolute;
	border: solid;
	border-width: 100%;
}*/
.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	padding: 48px;
	padding-bottom: 24px;
}
.post {
	width: 280px;
	margin-bottom: 5%;
}
.desc {
	text-align: center;
	font-size: 16px;
	font-family: Segoe UI;
	margin-top: 8px;
	opacity: 75%;
}
.button {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}
.button a{
	padding: 8px 16px;
	cursor: pointer;
	text-decoration: none;
	color: black;
}
.button #view{
	display: flex;
	margin-right: 8px;
	justify-content: center;
	background-color: white;
	border: solid;
	border-color: black;
	transition: 0.25s;
}
.button #view:hover{
	background-color: black;
	color: white;
	transition: 0.25s;
}
.button #order{
	display: flex;
	justify-content: center;
	background-color: #ff6101;
	color: white;
	border: solid;
	border-color: #ff6101;
	transition: 0.25s;
}
.button #order:hover{
	background-color: #00953b;
	border-color: #00953b;
	transition: 0.25s;
}
.button #contact{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 8px;
	background-color: transparent;
	padding: 9px 36px;
	color: #ff6101;
	border: solid;
	border-color: #ff6101;
	transition: 0.25s;
}
.button #contact:hover{
	background-color: #00953b;
	border-color: #00953b;
	color: white;
	transition: 0.25s;
}
.button #message{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	padding: 9px 36px;
	color: #ff6101;
	border: solid;
	border-color: #ff6101;
	transition: 0.25s;
}
.button #message:hover{
	background-color: #00953b;
	border-color: #00953b;
	color: white;
	transition: 0.25s;
}
.subscription {
	display: flex;
	flex-wrap: wrap;
	background-image: url(banner.png);
	height: 300px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
 
}
.banner {
	padding: 8px 48px;
}
.banner h1{
	font-size: 64px;
	color: white;
}
form{
	display: flex;
	margin: 16px 0;
}
form input{
	flex: 2;
	padding: 0 8px;
	border: solid;
	border-color: white;
	background: transparent;
	color: white;
	margin-right: 24px;
}
form input.submit{
	flex: 0.5;
	padding: 16px 32px;
	background-color: #ff6101;
	border-color: #ff6101;
	font-family: Segoe UI;
	color: white;
	cursor: pointer;
	border: none;
	transition: 0.5s;
}
form .submit:hover{
	background-color: #00953b;
	border-color: #00953b;
	font-family: Segoe UI;
	color: white;
	cursor: pointer;
	transition: 0.5s;
}
.ads_footer {
	display: flex;
	flex-wrap: wrap;
	opacity: 50%;
	color: white;
	position: absolute;
	width: 50%;
	bottom: 32px;
}

.about {
	display: flex;
	margin: 48px 48px 0px 48px;
	align-items: center;
}
.about_img {
	flex: 1;
	margin: 0 32px 0 0;
	height: 24em;
	background-image: url(about.jpg);
	background-attachment: default;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 100% 55%;
}
.about_desc {
	flex: 1;
}
.about_desc .button{
	margin-top: 64px;
	float: left;
	display: flex;
}
.button #learnmore{
	display: flex;
	justify-content: center;
	margin-right: 8px;
	background-color: white;
	border: solid;
	border-color: black;
	transition: 0.25s;
}
.button #learnmore:hover{
	background-color: black;
	color: white;
	transition: 0.25s;
}
.button #ourcontact{
	display: flex;
	justify-content: center;
	background-color: #ff6101;
	color: white;
	border: solid;
	border-color: #ff6101;
	transition: 0.25s;
}
.button #ourcontact:hover{
	background-color: #00953b;
	border-color: #00953b;
	transition: 0.25s;
}

.contact {
	text-align: center;
	margin: 48px;
}
footer {
	font-family: Segoe UI;
	display: grid;
	color: white;
	grid-template-columns: 1fr 1fr 1fr 1fr 1.25fr 1fr;
	height: 120px;
	background-color: #00953b;
	font-size: 12px;
}
.head_sec {
	font-size: 20px;
	cursor: default;
}
.logo {
	text-align: center;
	margin: 8px;
}
.wrapper {
	margin: 8px;
}
.guide a{
	color: white;
	display: block;
	text-decoration: none;
	margin: 2px 0;
}
.guide a:hover{
	background-color: #ff6101;
}
.navigation a{
	color: white;
	display: block;
	text-decoration: none;
	margin: 2px 0;
}
.navigation a:hover{
	background-color: #ff6101;
}

.followus {
	display: block;
	height: 28px;
	margin: 4px 0;
}
.social {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	height: 100%;
	width: 60%;
	margin-top: 8px;
}
.social	img{
	max-height: 100%;
	max-width: 100%;
	transition: 0.25s;
}
.social img:hover{
	opacity: 50%;
}
.copyright {
	position: relative;
	margin: 16px 0px 0 0;
}
.copyright p{
	cursor: not-allowed;
	position: absolute;
	bottom: 16px;
}


@media only screen and (max-width: 660px) {
	.nav_menu {
		display: none;
	}
	.like {
		opacity: 0%;
	}
	.home_title h1{
		font-size: 12vw;
	}
	.home_title p{
		font-size: 4vw;
		text-align: center;
	}
	.hero {
		display: flex;
		align-items: center;
		background-image: url(hero.png);
		height: 400px;
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.cta {
		margin-top: 32px;
	}
	.cta a{
		display: flex;
		align-items: center;
		text-decoration: none;
		color: white;
		padding: 8px 32px;
		margin-right: 0px;
		border-style: solid;
		transition: 0.25s;
		letter-spacing: 1px;
	}
	.gap {
		display: none;
	}
	.product {

	}
	.product_title p{
		margin: 16px;
	}
	.gallery {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		text-align: center;
		padding: 16px;
		padding-bottom: 24px;
	}
	.post {
		display: block;
		margin: 0 auto;
		text-align: center;
		width: 160px;
		margin-bottom: 5%;
	}
	.button a{
		padding: 4px 0px;
		cursor: pointer;
		text-decoration: none;
		color: black;
	}
	.button #view{
		display: none;
	}
	.button #order{
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		background-color: #ff6101;
		color: white;
		border: solid;
		font-size: 16px;
		border-color: #ff6101;
		transition: 0.25s;
	}
}